@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.hover-up-down {
  animation: hoverUpDown 3s infinite alternate; /* Adjust duration and animation properties as needed */
}

@keyframes hoverUpDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px); /* Adjust the distance as needed */
  }
}

/* CSS in a global CSS file or inline in your component */
@media (min-width: 768px) {
  .sidebar {
    display: none;
  }
}